--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/ # https://github.com/microsoft/onnxruntime/issues/21684
--extra-index-url https://pypi.nvidia.com
conformer
deepspeed
diffusers
fastapi
fastapi-cli
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
onnx
onnxruntime-gpu
openai-whisper
protobuf
pyarrow
pydantic
pyworld
rich
soundfile
tensorboard
tensorrt-cu12
tensorrt-cu12-bindings
tensorrt-cu12-libs
torchaudio
transformers
uvicorn
wetext
wget
loguru
ebooklib
pydub
vllm==0.9.2
